body{
  background-color: #b3003b;
  text-align: center;
}
h1{
  font-family: "Helvetica", sans-serif;
  font-size: 50px;
  color: Black;
}
h2{
  color:  #006400;
}
#image{
  height: 100px;
}
#img-caption{
  font-family:"Helvetica", sans-serif;
}
p{
 font-family: helvetica; 
}
.tribute-link {
  font-size: 30px;
  color:black;
}
